<% if current_user.present? %>
<h1>Listing dog parks</h1>
<% @dog_parks.each do |dog_park| %>
    <% @my_like = ParkVote.where("user_id = ? AND park_id =?", current_user.id,dog_park.id).first %>
    <% @votes = ParkVote.where("park_id =?", dog_park.id).count %>
    <div class="row">
      <div class ="span3">
        <dl class="palette palette-firm">
          <dt></dt>
          <dd><%= dog_park.name %></dd>
        </dl>
      </div>
      <div class ="span9">
        <dl class="palette palette-info">
          <dd>Address: <%= dog_park.address %></dd>
          <iframe width="450" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?q=<%= dog_park.latitude %>,<%= dog_park.longitude %>&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=<%= dog_park.latitude %>,<%= dog_park.longitude %>&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/?q=<%= dog_park.latitude %>,<%= dog_park.longitude %>&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=<%= dog_park.latitude %>,<%= dog_park.longitude %>&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
          <td><%= @votes %> likes</td>
          <% if @my_like.present? %>
          <p>LIKED!</p>
          <% else %>
          <td><%= button_to 'Like this park',{
          :controller => :park_votes,
          :user_id => current_user.id,
          :park_id => dog_park.id,
          :rating => 5 }, :method => :post %></td>
          <%end %>
        <td><%= link_to 'Destroy', dog_park, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </dl>
      </div>
    </div>
    <br />
    <% end %>
    <br />

<%= link_to 'Add a dog park', new_dog_park_path %>
<% else %>
<h1>Please sign in to see dog parks</h1>
<% end %>
