<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dog_park.name %>
</p>

<p>
  <b>Addr:</b>
  <%= @dog_park.address %>
</p>

<p>
  <b>Lati:</b>
  <%= @dog_park.latitude %>
</p>

<p>
  <b>Longi:</b>
  <%= @dog_park.longitude %>
</p>

<%#= gmaps4rails(@json) %>
<%= gmaps(
  :markers => { :data => @json },
  :map_options => { :auto_adjust => true, # :auto_adjust map to center on location
        :auto_zoom => false,  # :auto_zoom defaults to full zoom in, set to false to utilize :zoom
        :zoom => 15 }   # :zoom 0 is fully zoomed out (world view), 21 is fully zoomed in (street view)
) %>
<%= link_to 'Back', dog_parks_path %>
