<% if current_user.present? %>
<h1>Listing videos</h1>
<% @videos.each do |video| %>
  <% @user_d = UserDetail.where("user_id = ?", video.user_id).first %>
  <% @user_main = User.find(video.user_id) %>
    <div class="row">
      <div class ="span3">
        <dl class="palette palette-firm">
          <%= @user_main.name %>
          <% if @user_d.gender == "Male" %>
            <%= image_tag 'male.gif' %>
          <% else %>
            <%= image_tag 'female.gif' %>
          <% end %>
        </dl>
      </div>
      <div class ="span9">
        <dl class="palette palette-info">
          <dt><%= video.video_title %></dt>
          <iframe width="420" height="315" src="http://www.youtube.com/embed/<%= video.video_link %>" frameborder="0" allowfullscreen></iframe>
          <dd><%= video.video_numb_view %></dd>
        <% if video.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </dl>
      </div>
    </div>
    <br />
    <% end %>
    <br />

<%= link_to 'Post a new video', new_video_path %>
<% else %>
<h1>Please sign in to see videos</h1>
<% end %>
