<%= form_for(@pet_detail, :multipart => true) do |f| %>
  <% if @pet_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet_detail.errors.count, "error") %> prohibited this pet_detail from being saved:</h2>

      <ul>
      <% @pet_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_type %><br />
    <%= f.text_field :pet_type %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.collection_select :gender, HumanGenders.all, :gender, :gender %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age,:min => 1 %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Tell us about your pet<br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    Your pet's home park<br />
    <%= f.text_field :homepark %>
  </div>
  <div class="field">
    Your pet's favorite toy<br />
    <%= f.text_field :fav_toy %>
  </div>
  <div class="field">
    Your pet's favorite park<br />
    <%= f.text_field :fav_park %>
  </div>
  <div class="field">
    What's the breed of your pet?<br />
    <%= f.text_field :kind1 %>
  </div>
  <div class="field">
    What's the breed of your pet? if mixed<br />
    <%= f.text_field :kind2 %>
  </div>
  <div class="field">
      <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
