<% if current_user.present? %>
    <h1>Listing our registered pets by users</h1>
    <% @pet_details.each do |pet_detail| %>
      <% @user_d = User.find(pet_detail.user_id) %>
    <div class="row">
      <div class ="span3">
        <dl class="palette palette-firm">
          <% if pet_detail.gender == "Male" %>
            <%= image_tag pet_detail.photo.url(), :width => 100, :height => 100 %>
          <% else %>
            <%= image_tag pet_detail.photo.url(), :width => 100, :height => 100 %>
          <% end %>
        </dl>
      </div>
      <div class ="span9">
        <dl class="palette palette-info">
          <dt>NAME:<%= pet_detail.name %></dt>
          <dd>AGE:<%= pet_detail.age %>Yrs old</dd>
          <dd>FAV. PARK:<%= pet_detail.fav_park %></dd>
          <dd>FAV. TOY:<%= pet_detail.fav_toy %></dd>
          <td><%= link_to 'Show', pet_detail %></td>
        <% if pet_detail.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_pet_detail_path(pet_detail) %></td>
        <td><%= link_to 'Erase this pet', pet_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </dl>
      </div>
    </div>
    <br />
    <% end %>
    <br />

    <%= link_to 'Add your pet here', new_pet_detail_path %>
<% else %>
<h1>Please sign in to see pets</h1>
<% end %>
