<%= form_for(@photo_album) do |f| %>
  <% if @photo_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_album.errors.count, "error") %> prohibited this photo_album from being saved:</h2>

      <ul>
      <% @photo_album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :file_title %><br />
    <%= f.text_field :file_title %>
  </div>
  <div class="field">
    <%= f.label :file_desc %><br />
    <%= f.text_field :file_desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
