<p id="notice"><%= notice %></p>
<%= image_tag @photo_album.photo.url() %>
<p>
  <b>Name of this photo</b>
  <%= @photo_album.file_name %>
</p>

<p>
  <b>Title of this photo</b>
  <%= @photo_album.file_title %>
</p>

<p>
  <b>Tell us about this photo</b>
  <%= @photo_album.file_desc %>
</p>


<%= link_to 'Edit', edit_photo_album_path(@photo_album) %> |
<%= link_to 'Back', photo_albums_path %>
