<%= form_for(@park_vote) do |f| %>
  <% if @park_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@park_vote.errors.count, "error") %> prohibited this park_vote from being saved:</h2>

      <ul>
      <% @park_vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :park_id %><br />
    <%= f.number_field :park_id %>
  </div>
  <div class="field">
    <%= f.label :user_comment %><br />
    <%= f.text_field :user_comment %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
