<h1>Bow Wow Members</h1>
<% if current_user.present? %>
<% @user_details.each do |user_detail| %>
<% @user_d = User.find(user_detail.user_id) %>
<div class="row">
  <div class ="span3">
    <dl class="palette palette-firm">
      <% if user_detail.gender == "Male" %>
        <%= image_tag 'male.gif' %>
      <% else %>
        <%= image_tag 'female.gif' %>
      <% end %>
    </dl>
  </div>
  <div class ="span9">
    <dl class="palette palette-info">
      <dt><%=@user_d.name %></dt>
      <dd><%= user_detail.gender %></dd>
      <dd><%= user_detail.desc %></dd>
      <dd><%= user_detail.is_straight %></dd>
      <td><%= link_to 'Show', user_detail %></td>
    </dl>
  </div>
</div>
<% end %>
<% end %>
<br />

<%= link_to 'Add your profile detail', new_user_detail_path %>
<% if @my_user.present? %>
  <%= link_to 'Edit', edit_user_detail_path(@my_user.first) %>
<% end %>
<center>
<h1>Current Weather in chicago </h1>
 <% degree = @json["data"]["current_condition"][0]["temp_F"] %>
  <b><%= degree%>F </b><br>
  <%= image_tag(@json["data"]["current_condition"][0]["weatherIconUrl"][0]["value"]) %>
  <% if degree.to_i > 20 %>
    <p>Weather is great! Go walk your dog and date someone! </p>
  <% end %>
</center>
