<!DOCTYPE html>
<html>
<head>
  <title>DatingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<p><%= notice %></p>
<div id="user_nav">
  <div class="row demo-row">
    <div class="span3"></div>
    <div class="span6">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= current_user.id %>
      <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-large btn-block btn-primary" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-large btn-block btn-primary"  %>
    <% end %>
    </div>
    <div class="span3"></div>
  </div>
</div>
<nav>
    <%= link_to "User Profile", user_details_url %> |
    <%= link_to "Pet Profile", pet_details_url %> |
    <%= link_to "Photos", photo_albums_url %> |
    <%= link_to "Videos", videos_url %> |
    <%= link_to "Dog Parks", dog_parks_url %> |
    <%= link_to "Park Votes", park_votes_url %>
  </nav>
<%= yield %>
</div>
</body>
</html>
